.OpenM_Book_CommonMenuBar {
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.OpenM_Book_CommonMenuBar_left {
    left: 10px;
    top: 7px;
    position:absolute;
}
.OpenM_Book_CommonMenuBar_right {
    right: 10px;
    top: 7px;
    position:absolute;
}

body {
    padding: 0px;
}

/**
* css pour affichage mobile
*/
@media (max-width: 767px){

    .hero-unit{
        padding: 20px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        margin-bottom: 0px;
    }

    .well{
        margin: 0;
    }
}