body {
    background-color: white;
}
.input-micro {
    width: 40px;
}
.form-custom {
    padding: 19px 29px 29px;
    background-color: whitesmoke;
}
.edit:hover {
    border: darkgoldenrod solid 1px;
}

.navbar-fixed-top{
    position: fixed;
    margin-left: 0;
    margin-right: 0;
}

.navbar-inner{
    border-radius: 0px;
}
.nav-tabs-menunavigation{
    position: absolute;
    padding-left: 10px;
    min-height: 100%;
    width: 162px;
    background-color: #1B1B1B;
    background-image: linear-gradient(to bottom,#111111, #222222 );
    background-repeat: repeat-x;
    word-break: break-all;
}
.cadre-nom{
    padding-right: 20px;
    color: #777777;
}

/**
* css pour affichage mobile
*/
@media (max-width: 767px){
    body {
        padding-right: 0px;
        padding-left: 0px;
    }

    .form-custom {
        margin: 0px;
    }

    .hero-unit{
        padding: 20px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        margin-bottom: 0px;
    }

    .well{
        margin: 0;
    }
}

/** 
* css pour affichage à partir tablette
*/
@media (min-width: 767px) {
    .form-custom {
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 5px 5px 5px #888;
        -moz-box-shadow: 5px 5px 5px #888;
        box-shadow: 5px 5px 5px #888;
    }
}

/** Pour affichage seulement tablette */
/*
@media (min-width: 768px) and (max-width: 979px) {

}
*/

.container-withmenunavigation{
    margin-top: 40px;
}

/**
Pour affichage seulement Ordinateur
*/
@media (min-width : 979px){
    .container-withmenunavigation{
        margin-left: 162px;
        margin-top: 50px;
    }
}

/**
Pour affichage grand écrant
*/
@media (min-width: 1380px) {
    .form-custom {
        padding-left: 150px;
    }


}