.divParent {
    margin-top: 50px;
}

.book-user-photo, .book-community-user-photo, book-search-user-photo {
    background-color:#fafbfc; 
    padding:5px; 
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 2;
}

.book-user-field {
    margin: 0px;
    margin-left: 20px;
}

.book-user-field-block {
    margin-bottom: 10px;
}

.book-user-field-read, .book-user-field-modifiable {
    min-height: 30px;
}

.book-user-field-modifiable {
    cursor: pointer;
}

.book-user-field-read-label {
    padding-top: 7px;
}

input.book-user-field-modification-input {
    margin-bottom: 0px;
}

.book-user-fieldadd {
    margin-left: 20px;
    height: 30px;
}

.book-user-fieldadd-label {
    padding-top: 7px;
    cursor: pointer;
}

.book-user-community-block {
    padding: 5px;
    margin-left: 10px;
}

.book-user-community-categorie {
    margin-top: 10px;
}

.book-user-page, .book-search-page {
    margin-bottom: 5px;
}
.book-community-childs {
    margin-top: 10px;
}

.book-community-users, .book-community-users-not-valid, .book-search-results-users {
    margin-top: 10px;
    overflow: hidden;
}

.book-community-user, .book-community-user-not-valid, .book-search-results-user {
    float: left;
    padding: 10px;
    margin: 5px;
    background: white;
    border-radius: 10px;
}

.book-community-users-any-user-message {
    margin-left: 20px;
}

@media (max-width: 767px){
    .book-community-childs, .book-search-results-users , .book-search-results-communities, .book-search-results-groups {
        text-align: center;
    }

    .container-fluid-book {
        margin: 0px;
        padding: 0px;
    }
}

@media (min-width: 600px){
    input.book-user-field-modification-input {
        min-width: 400px; 
    }
}