.book-user-photo {
    background-color:#fafbfc; 
    padding:5px; 
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 2;
}

.book-user-field {
    margin: 0px;
    margin-left: 20px;
}

.book-user-field-block {
    margin-bottom: 10px;
}

.book-user-field-read {
    min-height: 30px;
}

.book-user-field-read-label {
    padding-top: 7px;
}

.book-user-field-read-span {
    cursor: pointer;
}

input.book-user-field-modification-input {
    margin-bottom: 0px;
}

.book-user-fieldadd {
    margin-left: 20px;
    height: 30px;
}

.book-user-fieldadd-label {
    padding-top: 7px;
    cursor: pointer;
}

.book-user-community-block {
    padding: 5px;
}