/* 
    Document   : home
    Created on : 24 sept. 2013, 09:23:18
    Author     : gsaunier
    Description:
        Purpose of the stylesheet follows.
*/
.home { 
    margin: 50px;
    margin-top: 100px;
}