/* 
    Document   : home
    Created on : 24 sept. 2013, 09:23:18
    Author     : gsaunier
    Description:
        Purpose of the stylesheet follows.
*/

.openm-book-form,.openm-book-text {
    padding: 0px;
}

.register { 
    margin: 50px auto 0px;    
}

.openm-book-text-container {
    margin: auto;
}

.form-register {
    max-width: 480px;
    padding: 19px 29px 29px;
    background-color: whitesmoke;
    margin: auto;    
}

@media (min-width: 480px) {
    .form-register {
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 5px 5px 5px #888;
        -moz-box-shadow: 5px 5px 5px #888;
        box-shadow: 5px 5px 5px #888;
    }
}

@media (max-width: 480px) {
    .container-fluid {
        padding: 0px;
    }

    .body {
        padding: 0px;
    }
}

@media (max-width: 767px){
    .register { 
        margin-top: 37px;
    }
}

@media (min-width: 480px) and (max-width: 991px){
    .openm-book-text-container {
        margin-top: 20px;
    }
}

@media (min-width: 992px){
    .openm-book-text-container {
        margin-top: auto;
    }
}

.form-register .form-register-heading,
.form-register .checkbox {
    margin-bottom: 10px;
}

.form-register input[type="text"],
.form-register input[type="date"],
.form-register input[type="email"] {
    margin-bottom: 15px;
    padding: 7px 9px;
}

.checkbox-middle {
    vertical-align: top;
    margin-top: 10px;
}