/* 
    Document   : home
    Created on : 24 sept. 2013, 09:23:18
    Author     : gsaunier
    Description:
        Purpose of the stylesheet follows.
*/

.openm-book-form {
    padding: 0px;
}

.register { 
    margin: 50px auto;    
}

.form-register {
    max-width: 480px;
    padding: 19px 29px 29px;
    background-color: whitesmoke;
}

@media (min-width: 480px) {
    .form-register {
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 5px 5px 5px #888;
        -moz-box-shadow: 5px 5px 5px #888;
        box-shadow: 5px 5px 5px #888;
    }

}

@media (max-width: 480px) {
    .container-fluid {
        padding: 0px;
    }

    .form-register {
        margin: 0px;
    }

    .body {
        padding: 0px;
    }
}

/**
* css pour affichage mobile
*/
@media (max-width: 767px){
    .form-register {
        margin: 0px;
    }

    .register { 
        margin-top: 37px;
    }
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.checkbox-middle {
    vertical-align: top;
    margin-top: 10px;
}